<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fbc129d5-0f44-450b-b28f-a21b3e2cbc28" Alias="cardItem" Level="4">
  <Info>
    <Name>Card Item</Name>
    <Icon>icon-credit-card color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="0373d2e8-79ea-46e2-9fe1-4089d7b51c04">descriptionProperty</Composition>
      <Composition Key="5bafaa67-2027-431c-83a2-be7fd12bb42c">imageProperty</Composition>
      <Composition Key="58150b35-738e-42dc-b716-48fdc0cbe409">linkProperty</Composition>
      <Composition Key="c93c3022-1727-4bd3-952a-391fc94932f7">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>