<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c522f001-93f6-482a-929f-791ff445fa5c" Alias="exploreBlogPage" Level="2">
  <Info>
    <Name>Explore Blog Page</Name>
    <Icon>icon-document color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="c93c3022-1727-4bd3-952a-391fc94932f7">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c59d0d31-bfcf-435f-9217-a53d77aa09ae">ExploreBlogPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7a2501b5-9d3a-4a5e-baf2-180fe3a416c5" SortOrder="0">exploreBlogDetailPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b43e4609-25b6-48d1-b35d-2411e1a3fde3</Key>
      <Name>Main Heading</Name>
      <Alias>mainHeading</Alias>
      <Definition>f09b78c4-f02a-4ec9-8b72-3cb757971955</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>23fca0da-1581-4719-bb20-6c8874e38c56</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>80</SortOrder>
    </Tab>
  </Tabs>
</ContentType>