<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c522f001-93f6-482a-929f-791ff445fa5c" Alias="exploreBlogPage" Level="2">
  <Info>
    <Name>Explore Blog Page</Name>
    <Icon>icon-document color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="0373d2e8-79ea-46e2-9fe1-4089d7b51c04">descriptionProperty</Composition>
      <Composition Key="c93c3022-1727-4bd3-952a-391fc94932f7">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c59d0d31-bfcf-435f-9217-a53d77aa09ae">ExploreBlogPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7a2501b5-9d3a-4a5e-baf2-180fe3a416c5" SortOrder="0">exploreBlogDetailPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>