<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b62b59cd-c966-4730-bd0c-699adee348b8" Alias="explorePage" Level="2">
  <Info>
    <Name>Explore Page</Name>
    <Icon>icon-item-arrangement color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="59ac4c46-0047-445d-befc-953442d3dabd" SortOrder="0">exploreDetailPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>