<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="59ac4c46-0047-445d-befc-953442d3dabd" Alias="exploreDetailPage" Level="2">
  <Info>
    <Name>Explore Detail Page</Name>
    <Icon>icon-item-arrangement color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="899ef333-1e9d-4934-9238-fe851263e482">dateProperty</Composition>
      <Composition Key="0373d2e8-79ea-46e2-9fe1-4089d7b51c04">descriptionProperty</Composition>
      <Composition Key="5bafaa67-2027-431c-83a2-be7fd12bb42c">imageProperty</Composition>
      <Composition Key="c93c3022-1727-4bd3-952a-391fc94932f7">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>