<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="918be5d8-96a0-4d46-bdb8-97a6856f2ac6" Alias="exploreBlog" Level="4">
  <Info>
    <Name>Explore Blog</Name>
    <Icon>icon-science color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f7af873b-bfc4-4fde-8e0c-889b9e43771c</Key>
      <Name>Explore Block Detail Page</Name>
      <Alias>exploreBlockDetailPage</Alias>
      <Definition>25c55dcb-37b3-4d75-92ff-58cfccf26ae9</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9d2dea88-c0b4-412a-b757-2b36497749d0</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>80</SortOrder>
    </Tab>
  </Tabs>
</ContentType>