<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9973a38f-00df-41ff-ba85-64d722661ed3" Alias="homePage" Level="2">
  <Info>
    <Name>HomePage</Name>
    <Icon>icon-home color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="1b924c81-cb4d-420c-b646-b20e4c5f75eb">headerProperties</Composition>
      <Composition Key="7f35d9e5-f2d7-401f-8b77-a5c08c6188c7">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d0b067af-1465-405c-8045-cbc5b95b0f92">HomePage1</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b62b59cd-c966-4730-bd0c-699adee348b8" SortOrder="0">explorePage</ContentType>
    <ContentType Key="c522f001-93f6-482a-929f-791ff445fa5c" SortOrder="1">exploreBlogPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>799c7f10-b675-451c-80d4-57cb12028243</Key>
      <Name>Explore Detail Section</Name>
      <Alias>exploreDetailSection</Alias>
      <Definition>10ffcea6-793f-418c-98fa-7e6d0bcdee8c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5050</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f6b5f4ab-32c0-4aa1-a658-32fc5caaece9</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>