<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1b97010-be81-438f-89cf-72e46f40252e" Alias="Francesco Ungaro Qgzvbpm9hm4 Unsplash (1) (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FrancescoUngaroQgzvbpm9hm4Unsplash11</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-23T08:54:12</CreateDate>
    <NodeName Default="Francesco Ungaro Qgzvbpm9hm4 Unsplash (1) (1)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/czyltqmb/francesco-ungaro-qgzvbpm9hm4-unsplash-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>