<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3b39c72-599d-402f-96de-7d8992c5479b" Alias="Girl Gcceeda772 1920" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GirlGcceeda7721920</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-03T11:28:24</CreateDate>
    <NodeName Default="Girl Gcceeda772 1920" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/osolhq23/girl-gcceeda772_1920.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>