<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ee0a894-f424-4737-a12b-65bcf1a2dfa2" Alias="Girl Gcceeda772 1920 (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GirlGcceeda77219202</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-23T11:53:36</CreateDate>
    <NodeName Default="Girl Gcceeda772 1920 (2)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/skuoatre/girl-gcceeda772_1920.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>