<?xml version="1.0" encoding="utf-8"?>
<Media Key="125d2e38-49d2-4b5d-93d0-0f55e0c44d9f" Alias="Image 2022 05 05 113113660" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image20220505113113660</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-04T11:58:08</CreateDate>
    <NodeName Default="Image 2022 05 05 113113660" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hyxf0ews/image_2022-05-05_113113660.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>