<?xml version="1.0" encoding="utf-8"?>
<Media Key="1634596d-e762-4029-9e97-7d65dfa890e4" Alias="Paulius Dragunas Rscwqpg5ydu Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PauliusDragunasRscwqpg5yduUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-23T11:53:22</CreateDate>
    <NodeName Default="Paulius Dragunas Rscwqpg5ydu Unsplash" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nnmdiftc/paulius-dragunas-rscwqpg5ydu-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>