<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3f2e019-99b6-494a-977d-74de4afefc64" Alias="People Ge52805940 1920" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PeopleGe528059401920</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-04T11:58:51</CreateDate>
    <NodeName Default="People Ge52805940 1920" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/d5qpfq3w/people-ge52805940_1920.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>