<?xml version="1.0" encoding="utf-8"?>
<DataType Key="10ffcea6-793f-418c-98fa-7e6d0bcdee8c" Alias="[BlockList] Explore Container" Level="1">
  <Info>
    <Name>[BlockList] Explore Container</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "5ec3ea59-ec65-4b6e-b484-06a6fc7eafec",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>