<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dc6d3ecb-0af4-47f3-b9f6-b6694b77115d" Alias="[BlockList] Image Row" Level="1">
  <Info>
    <Name>[BlockList] Image Row</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "f552e3a8-0aa8-48a0-8633-10a53d1999b8",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{'Image' + $index}} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "b3974b11-3809-40db-9ab4-9d1f84d1d222",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>