<?xml version="1.0" encoding="utf-8"?>
<DataType Key="17a8af7b-19e3-41d2-8567-862cd2cc8b0e" Alias="[BlockList] Explore Block" Level="1">
  <Info>
    <Name>[BlockList] Explore Block</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "c8fd1f02-a108-43e8-9eed-64939647e494",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": 3,
    "min": 1
  }
}]]></Config>
</DataType>