<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4222d727-f352-4dc2-a27a-ee3e8b7d65e6" Alias="[BlockList] Explore Blog Container" Level="1">
  <Info>
    <Name>[BlockList] Explore Blog Container</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "f029afe6-dd10-419d-a93b-4e19a2fa8981",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>