<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f240642d-556c-4951-b08b-cb98e24ca655" Alias="[MultiURLPicker] Single URL Picker (1)" Level="1">
  <Info>
    <Name>[MultiURLPicker] Single URL Picker (1)</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>