<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cc2177c8-b5f5-49dc-92ff-76fea8d14d26" Alias="[Nested] Navigation Items List" Level="1">
  <Info>
    <Name>[Nested] Navigation Items List</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{title}}",
      "ncAlias": "navigationItem",
      "ncTabAlias": "Content"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>