<?xml version="1.0" encoding="utf-8"?>
<DataType Key="25c55dcb-37b3-4d75-92ff-58cfccf26ae9" Alias="[Single Node] Explore Blog Detail Page" Level="1">
  <Info>
    <Name>[Single Node] Explore Blog Detail Page</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "exploreBlogDetailPage",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>