<?xml version="1.0" encoding="utf-8"?>
<DataType Key="02ba6d6f-b2c3-49ed-b975-d980b64e4506" Alias="[Single Node] Explore Detail Page" Level="1">
  <Info>
    <Name>[Single Node] Explore Detail Page</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "exploreDetailPage",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>