<?xml version="1.0" encoding="utf-8"?>
<Content Key="d6ebcc38-dc62-4318-bb0b-afcbd6982954" Alias="asdffdsag" Level="102">
  <Info>
    <Parent Key="f2740a88-7506-43f4-b102-a9f00f7bb995">Conservation Blog</Parent>
    <Path>/[-20]/ConservationBlog/asdffdsag</Path>
    <Trashed Parent="f2740a88-7506-43f4-b102-a9f00f7bb995">true</Trashed>
    <ContentType>exploreBlogDetailPage</ContentType>
    <CreateDate>2022-11-23T14:39:18</CreateDate>
    <NodeName Default="asdffdsag" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3b35beae-80fd-485c-a923-33496de5d158">ExploreBlogDetailPage</Template>
  </Info>
  <Properties>
    <cardItem>
      <Value><![CDATA[]]></Value>
    </cardItem>
    <title>
      <Value><![CDATA[Copyright Widgets Ltd 2019]]></Value>
    </title>
  </Properties>
</Content>