<?xml version="1.0" encoding="utf-8"?>
<Content Key="b2fcd4e4-b581-4697-ad3c-898c6e7525dc" Alias="Audio guide tour" Level="3">
  <Info>
    <Parent Key="09b50cf7-a3c3-47af-8d9a-8bfbee49d253">What's On</Parent>
    <Path>/HomePage/WhatsOn/AudioGuideTour</Path>
    <Trashed>false</Trashed>
    <ContentType>exploreDetailPage</ContentType>
    <CreateDate>2022-11-18T09:50:18</CreateDate>
    <NodeName Default="Audio guide tour" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2022-11-05T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[Anniversaries of important historic events infest our calendars. Why do we choose to celebrate ...]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "7da42161-19e1-4287-8a17-e01d87af3a6e",
    "mediaKey": "c1b97010-be81-438f-89cf-72e46f40252e"
  }
]]]></Value>
    </image>
    <title>
      <Value><![CDATA[WHAT’S IN A DATE? THE USE AND USEFULNESS OF ANNIVERSARIES]]></Value>
    </title>
  </Properties>
</Content>