<?xml version="1.0" encoding="utf-8"?>
<Content Key="b2fcd4e4-b581-4697-ad3c-898c6e7525dc" Alias="Audio guide tour" Level="3">
  <Info>
    <Parent Key="09b50cf7-a3c3-47af-8d9a-8bfbee49d253">What's On</Parent>
    <Path>/HomePage/WhatsOn/AudioGuideTour</Path>
    <Trashed>false</Trashed>
    <ContentType>exploreDetailPage</ContentType>
    <CreateDate>2022-11-18T09:50:18</CreateDate>
    <NodeName Default="Audio guide tour" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[hello]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "11f0e836-f3c2-4611-beec-ba04009a10d1",
    "mediaKey": "46d1b777-a38d-488c-98bd-4e0a15ed4126"
  }
]]]></Value>
    </image>
    <title>
      <Value><![CDATA[Audio guide tour]]></Value>
    </title>
  </Properties>
</Content>