<?xml version="1.0" encoding="utf-8"?>
<Content Key="4644692d-a21e-48c8-85e0-e9222a6f25b7" Alias="Battelments" Level="3">
  <Info>
    <Parent Key="09b50cf7-a3c3-47af-8d9a-8bfbee49d253">What's On</Parent>
    <Path>/HomePage/WhatsOn/Battelments</Path>
    <Trashed>false</Trashed>
    <ContentType>exploreDetailPage</ContentType>
    <CreateDate>2022-11-17T15:22:54</CreateDate>
    <NodeName Default="Battelments" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2022-11-07T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[With eyes on Royal Ascot this week we wanted to share a lesser-known aspect ...]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "828c29bc-096c-4915-b650-680ea28a6e9c",
    "mediaKey": "4ee0a894-f424-4737-a12b-65bcf1a2dfa2"
  }
]]]></Value>
    </image>
    <title>
      <Value><![CDATA[A TURKISH BATH FOR HORSES AT HAMPTON COURT PALACE]]></Value>
    </title>
  </Properties>
</Content>