<?xml version="1.0" encoding="utf-8"?>
<Content Key="4644692d-a21e-48c8-85e0-e9222a6f25b7" Alias="Battelments" Level="3">
  <Info>
    <Parent Key="09b50cf7-a3c3-47af-8d9a-8bfbee49d253">What's On</Parent>
    <Path>/HomePage/WhatsOn/Battelments</Path>
    <Trashed>false</Trashed>
    <ContentType>exploreDetailPage</ContentType>
    <CreateDate>2022-11-17T15:22:54</CreateDate>
    <NodeName Default="Battelments" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[ndustry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not ]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "e7235ea5-1945-4fa0-8603-c5668a90df2e",
    "mediaKey": "46d1b777-a38d-488c-98bd-4e0a15ed4126"
  }
]]]></Value>
    </image>
    <title>
      <Value><![CDATA[Battlements]]></Value>
    </title>
  </Properties>
</Content>