<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1aeb6f6-e504-41d9-b791-e4d2796aa5f1" Alias="Bloody Tower" Level="3">
  <Info>
    <Parent Key="09b50cf7-a3c3-47af-8d9a-8bfbee49d253">What's On</Parent>
    <Path>/HomePage/WhatsOn/BloodyTower</Path>
    <Trashed>false</Trashed>
    <ContentType>exploreDetailPage</ContentType>
    <CreateDate>2022-11-17T15:23:28</CreateDate>
    <NodeName Default="Bloody Tower" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2022-11-26T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[This year we mark the 400th anniversary of the building of the Banqueting House, ...]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "d8baabc1-2fe9-4cd3-b137-b8410ee68a82",
    "mediaKey": "4ee0a894-f424-4737-a12b-65bcf1a2dfa2"
  }
]]]></Value>
    </image>
    <title>
      <Value><![CDATA[FOUR HUNDRED YEARS OF SPECTACLE AND GLAMOUR!]]></Value>
    </title>
  </Properties>
</Content>