<?xml version="1.0" encoding="utf-8"?>
<Content Key="686bd18b-c1c1-453f-9941-d6b42ad1e971" Alias="Card Blog with contetn" Level="3">
  <Info>
    <Parent Key="fb181d04-b95a-427f-8d38-00c1769aa163">Curators</Parent>
    <Path>/HomePage/Curators/CardBlogWithContetn</Path>
    <Trashed>false</Trashed>
    <ContentType>exploreBlogDetailPage</ContentType>
    <CreateDate>2022-11-18T14:10:56</CreateDate>
    <NodeName Default="Card Blog with contetn" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3b35beae-80fd-485c-a923-33496de5d158">ExploreBlogDetailPage</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Hello World]]></Value>
    </title>
  </Properties>
</Content>