<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2740a88-7506-43f4-b102-a9f00f7bb995" Alias="Conservation Blog" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ConservationBlog</Path>
    <Trashed Parent="4ed0a496-df64-4492-bd8f-516c28f9a930">true</Trashed>
    <ContentType>exploreBlogPage</ContentType>
    <CreateDate>2022-11-23T14:33:05</CreateDate>
    <NodeName Default="Conservation Blog" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c59d0d31-bfcf-435f-9217-a53d77aa09ae">ExploreBlogPage</Template>
  </Info>
  <Properties>
    <banner>
      <Value><![CDATA[]]></Value>
    </banner>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>