<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c21555d-6635-424e-a94b-a74964e49f38" Alias="Conservation" Level="3">
  <Info>
    <Parent Key="ceca5fb6-0b63-4a6f-a785-63ce5dc4ac5e">Conservation Blog</Parent>
    <Path>/HomePage/ConservationBlog/Conservation</Path>
    <Trashed>false</Trashed>
    <ContentType>exploreBlogDetailPage</ContentType>
    <CreateDate>2022-11-23T14:53:57</CreateDate>
    <NodeName Default="Conservation" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3b35beae-80fd-485c-a923-33496de5d158">ExploreBlogDetailPage</Template>
  </Info>
  <Properties>
    <cardItem>
      <Value><![CDATA[]]></Value>
    </cardItem>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>