<?xml version="1.0" encoding="utf-8"?>
<Content Key="ceca5fb6-0b63-4a6f-a785-63ce5dc4ac5e" Alias="Conservation Blog" Level="2">
  <Info>
    <Parent Key="4ed0a496-df64-4492-bd8f-516c28f9a930">Home Page</Parent>
    <Path>/HomePage/ConservationBlog</Path>
    <Trashed>false</Trashed>
    <ContentType>exploreBlogPage</ContentType>
    <CreateDate>2022-11-23T14:53:34</CreateDate>
    <NodeName Default="Conservation Blog" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c59d0d31-bfcf-435f-9217-a53d77aa09ae">ExploreBlogPage</Template>
  </Info>
  <Properties>
    <banner>
      <Value><![CDATA[]]></Value>
    </banner>
    <title>
      <Value><![CDATA[Conservation Blog]]></Value>
    </title>
  </Properties>
</Content>