<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb181d04-b95a-427f-8d38-00c1769aa163" Alias="Curators" Level="2">
  <Info>
    <Parent Key="4ed0a496-df64-4492-bd8f-516c28f9a930">Home Page</Parent>
    <Path>/HomePage/Curators</Path>
    <Trashed>false</Trashed>
    <ContentType>exploreBlogPage</ContentType>
    <CreateDate>2022-11-18T12:43:38</CreateDate>
    <NodeName Default="Curators" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c59d0d31-bfcf-435f-9217-a53d77aa09ae">ExploreBlogPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[fsdsdvdfvdvdsafda]]></Value>
    </description>
    <title>
      <Value><![CDATA[Curators' Page]]></Value>
    </title>
  </Properties>
</Content>