<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb181d04-b95a-427f-8d38-00c1769aa163" Alias="Curators" Level="2">
  <Info>
    <Parent Key="4ed0a496-df64-4492-bd8f-516c28f9a930">Home Page</Parent>
    <Path>/HomePage/Curators</Path>
    <Trashed>false</Trashed>
    <ContentType>exploreBlogPage</ContentType>
    <CreateDate>2022-11-18T12:43:38</CreateDate>
    <NodeName Default="Curators" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c59d0d31-bfcf-435f-9217-a53d77aa09ae">ExploreBlogPage</Template>
  </Info>
  <Properties>
    <mainHeading>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7c034c7d4bb045ca984ed77e5c61365a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fbc129d5-0f44-450b-b28f-a21b3e2cbc28",
      "udi": "umb://element/7c034c7d4bb045ca984ed77e5c61365a",
      "subtitle": "A simple explore page",
      "title": "Hello World",
      "description": "iusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
      "image": "[\r\n  {\r\n    \"key\": \"dc2a7d6b-9c34-42ee-bf7e-13cd8a83cfe8\",\r\n    \"mediaKey\": \"872941fa-c33b-4cd5-9735-6407f83239da\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainHeading>
    <title>
      <Value><![CDATA[Curators' Page]]></Value>
    </title>
  </Properties>
</Content>