<?xml version="1.0" encoding="utf-8"?>
<Content Key="4879844f-f7ab-4dc4-9657-5893e2a791e4" Alias="dsaagsd" Level="3">
  <Info>
    <Parent Key="78e3cbb4-d680-4465-a05d-adc55ea3c76a">Gardeners' Blog</Parent>
    <Path>/HomePage/GardenersBlog/dsaagsd</Path>
    <Trashed>false</Trashed>
    <ContentType>exploreBlogDetailPage</ContentType>
    <CreateDate>2022-11-23T14:39:23</CreateDate>
    <NodeName Default="dsaagsd" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3b35beae-80fd-485c-a923-33496de5d158">ExploreBlogDetailPage</Template>
  </Info>
  <Properties>
    <cardItem>
      <Value><![CDATA[]]></Value>
    </cardItem>
    <title>
      <Value><![CDATA[About]]></Value>
    </title>
  </Properties>
</Content>