<?xml version="1.0" encoding="utf-8"?>
<Content Key="0d0268e2-8064-4438-9b72-e4af85fb9c30" Alias="dssdcfgds" Level="3">
  <Info>
    <Parent Key="fbc6df7e-b0cf-43e2-83a1-167945c496cd">All Blogs</Parent>
    <Path>/HomePage/AllBlogs/dssdcfgds</Path>
    <Trashed>false</Trashed>
    <ContentType>exploreBlogDetailPage</ContentType>
    <CreateDate>2022-11-23T14:39:09</CreateDate>
    <NodeName Default="dssdcfgds" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3b35beae-80fd-485c-a923-33496de5d158">ExploreBlogDetailPage</Template>
  </Info>
  <Properties>
    <cardItem>
      <Value><![CDATA[]]></Value>
    </cardItem>
    <title>
      <Value><![CDATA[Hello World]]></Value>
    </title>
  </Properties>
</Content>