<?xml version="1.0" encoding="utf-8"?>
<Content Key="315dcf52-ce56-4614-b460-eb6aaf73e407" Alias="Feels Good" Level="3">
  <Info>
    <Parent Key="fb181d04-b95a-427f-8d38-00c1769aa163">Curators</Parent>
    <Path>/HomePage/Curators/FeelsGood</Path>
    <Trashed>false</Trashed>
    <ContentType>exploreBlogDetailPage</ContentType>
    <CreateDate>2022-11-18T14:11:32</CreateDate>
    <NodeName Default="Feels Good" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3b35beae-80fd-485c-a923-33496de5d158">ExploreBlogDetailPage</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[A simple explore page]]></Value>
    </title>
  </Properties>
</Content>