<?xml version="1.0" encoding="utf-8"?>
<Content Key="de61dbb7-d80f-4e66-990f-e3c7e0ed4618" Alias="fsfsdf" Level="3">
  <Info>
    <Parent Key="fb181d04-b95a-427f-8d38-00c1769aa163">Curators</Parent>
    <Path>/HomePage/Curators/fsfsdf</Path>
    <Trashed>false</Trashed>
    <ContentType>exploreBlogDetailPage</ContentType>
    <CreateDate>2022-11-18T14:12:47</CreateDate>
    <NodeName Default="fsfsdf" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3b35beae-80fd-485c-a923-33496de5d158">ExploreBlogDetailPage</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Copyright Widgets Ltd 2019]]></Value>
    </title>
  </Properties>
</Content>