<?xml version="1.0" encoding="utf-8"?>
<Content Key="78e3cbb4-d680-4465-a05d-adc55ea3c76a" Alias="Gardeners' Blog" Level="2">
  <Info>
    <Parent Key="4ed0a496-df64-4492-bd8f-516c28f9a930">Home Page</Parent>
    <Path>/HomePage/GardenersBlog</Path>
    <Trashed>false</Trashed>
    <ContentType>exploreBlogPage</ContentType>
    <CreateDate>2022-11-23T14:33:40</CreateDate>
    <NodeName Default="Gardeners' Blog" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c59d0d31-bfcf-435f-9217-a53d77aa09ae">ExploreBlogPage</Template>
  </Info>
  <Properties>
    <banner>
      <Value><![CDATA[]]></Value>
    </banner>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>