<?xml version="1.0" encoding="utf-8"?>
<Content Key="09b50cf7-a3c3-47af-8d9a-8bfbee49d253" Alias="What's On" Level="2">
  <Info>
    <Parent Key="4ed0a496-df64-4492-bd8f-516c28f9a930">Home Page</Parent>
    <Path>/HomePage/WhatsOn</Path>
    <Trashed>false</Trashed>
    <ContentType>explorePage</ContentType>
    <CreateDate>2022-11-17T15:22:45</CreateDate>
    <NodeName Default="What's On" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>