<?xml version="1.0" encoding="utf-8"?>
<Content Key="298c731c-37e9-42c5-a6b1-969254bd258f" Alias="Where Blocks go" Level="3">
  <Info>
    <Parent Key="fb181d04-b95a-427f-8d38-00c1769aa163">Curators</Parent>
    <Path>/HomePage/Curators/WhereBlocksGo</Path>
    <Trashed>false</Trashed>
    <ContentType>exploreBlogDetailPage</ContentType>
    <CreateDate>2022-11-18T13:44:10</CreateDate>
    <NodeName Default="Where Blocks go" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3b35beae-80fd-485c-a923-33496de5d158">ExploreBlogDetailPage</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[fsdafasfd]]></Value>
    </title>
  </Properties>
</Content>